body{
    background-color: rgb(12, 11, 11);
    color:white;
    font-family: Arial;

}
@media only screen and (max-width:990px){
    .image-container{
        width:500px;
        margin-left: 0px !important;     
    
    }
    .nav-container{
        display:none !important;
    }
    .nav-button-container{
        position:fixed !important;
        top:0 !important;
        left:0 !important;
        bottom:0 !important;
        width:0;
        z-index: 300 !important;
        background-color:rgb(12, 11, 11) !important;
        display: flex !important;
        text-align: right !important;
        justify-content: right !important;
        padding-top: 50px;
        overflow-x: hidden !important;
    
    }
    .close-container{
        position: absolute;
        top:10px;
        right: 10px;

    }
    .close-container img{
        width:40px
    }
    .nav-button-container li{
        margin:25px;
         
    }
    .nav-button-container li a{
        font-size: 40px;
        color: white;
        text-decoration: none;
        z-index: 0;
     }
    .head-container{
        display: flex;
        flex-direction: row;
        margin-top:0px !important;
        margin-bottom: 30px !important;
    }
    .image-container{
        width: 200px !important;
    }
    .image-container img{
        width: 100%;
        border-radius: 100%;
        height: 200px !important;
        margin-top: 30px !important;
    }
    .name-container{
        flex:1;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        z-index: 100;
    }
    .name-container h1{
        font-size:45px !important;
        margin-bottom: 10px !important;
    }
    .name-container h2{
        font-size: 15px !important;
        margin-top: 0px;
    }
    .about-head-container h1{
        text-align: center;
        margin-top: -20px;
        font-size: 40px !important;
        margin-bottom: 0px;
    }
    .about-paragraph p{
        font-size: 18px !important;
    }
     .main-expertise{
        position: relative;
        height: 1300px !important;
    }
    .web-background-expertise{
        background-image: url(/image/js-pics.png);
        position: absolute;
        filter: blur(3px);
        z-index: 1;
        top:0px !important;
        left:0px !important;
        right: 0px!important;
        width: 100vw !important;
        height: 50% !important;
    }
    .data-background-expertise{
        background-image: url(/image/data-pics.jpg);
        position: absolute;
        filter: blur(3px);
        z-index: 1 !important;
        left:0 !important;
        right:0 !important;
        bottom:0 !important;
        width:100vw !important;
        height: 50% !important;
        margin-top: 500px !important;

    }
    .expertise-container h1{
        text-align: center;
        font-size: 50px !important;
        margin-bottom: 0px;
        padding-top: 40px !important;
        margin-top: 0px ;
    
    }
    .expertise{
        display:grid;
        grid-template-columns: 1fr !important;
        text-align: center;
        justify-content: center;
        column-gap: 0px !important;
        z-index: 150;
        position: relative;
        width: 80% !important;
        margin-left:10vw !important;
        row-gap: 250px !important;

    }
   .web-expertise, .data-expertise{
        border: 5px solid;
        border-color: rgb(172, 169, 169);
        border-radius: 40px;
        background-color: black;
        margin-top: 70px !important;



    }
    .web-expertise h2, .data-expertise h2{
        font-size: 30px !important;
    }
    .web-expertise p, .data-expertise p{
        font-size: 20px !important;
    }
    .expertise-container{
        margin-top: 200px;
    }
    .project-container{
        padding-top:50px;
        margin-top: 0px !important;
    }
    .project-container h1{
        text-align: center;
        font-size:50px !important;
        margin-top: 0px !important;
   
   }
    .project-main-container{
        display: grid;
        grid-template-columns: 1fr !important;
        width:100% !important;
        margin-left: 0px !important;
        column-gap: 0px !important;
        row-gap: 50px !important;
    
    }
   .project-sub-container{
        padding: 15px;
        border-radius: 20px;
        cursor: pointer;
    }
    .project-list li {
        font-size:15px !important;
        margin-bottom: 20px !important;
        margin-top: 5px !important;
        float:left;
        margin-right: 15px !important;
        
    }
    .project-tools button{
        font-size: 15px !important;
        background-color: rgba(45, 212, 191, 0.1);
        color: rgb(94, 234, 212);
        padding: 10px 20px;
        border:none;
        border-radius: 20px;
    
    }
    .experience-main-container h1{
        font-size: 50px !important;
        text-align: center;
    }
    .company-name{
        background-color: rgb(141, 37, 238);
        padding-left:10px !important;
        border-radius: 10px;
        width: 80vw !important;
        align-self: center;
        position: relative;
    }
    .company-name h2{
        font-size: 15px !important;
    }
   .experience-year{
        position:absolute;
        right: 5px !important;
        top:0px;
        bottom:0px;
        
    }
   .contributions{
        font-size: 15px !important;
        background-color: rgb(27, 4, 48);
        width: 81vw !important;
        align-self: center;
        border-radius: 10px;
        margin-top: 30px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .experience-tools button{
        font-size: 15px !important;
        background-color: rgb(44, 53, 153);
        color: rgba(255, 255, 255);
        padding: 5px 10px !important;
        border:none;
        border-radius: 20px;
        margin-left: 5px !important;
    
    }
    .menu-container{
        margin:20px;
        margin-bottom: -10px;
        display: block !important;
    }
    .contact-container{
        background-color: black;
        height: 400px !important;
        margin-top: 200px !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    .contact-left{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    
    }
    .contact-container img{
        width:30px !important;
    }
    
    .contact-container a{
        font-size: 18px !important;
        margin-left: 10px;
        
    }
    .sub-contact{
        margin-bottom: 30px !important;
        margin-left: 30px;
    
    }
    .contact-right h2{
        font-size:30px !important;   
    }
    .contact-right li{
        font-size:20px !important;
    }
    

}
